.horario p{
	
	text-align:center;
	margin-top:55px;
	display: inline-block;
	vertical-align:top;
	margin-left:30px;

		
}
.table th{
    text-align: center;
}

.table td{
    text-align: center;
}

.logoLocal{
	position:relative;
	margin-left:15px;
	
}

.logoVisitante{
	position:relative;
	margin-right:15px;
}

 .goles{
 font-size:25px;
 margin-top:45px !important;
 }   
 
 .botonVer{
 	margin-left:65px;
 }
 
 .tituloStats{
 
 margin-top:65px;}
   
